MOMENTUM TRADING STARTEGY
<form method=post action="">
    <table>
          {% for field in form %}
              <tr>
                      <td>{{ field.label }}</td><td>{{ field }}</td>
                              </tr>
                                {% endfor %}
                            </table>
                            <p><input type=submit value=gui_compute></form></p>

                        <p>
                        {% if result != None %}
                        <img src="{{ result }}" width="500">
                        {% endif %}
                        </p>

